@tailwind base;
@tailwind components;
@tailwind utilities;


.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; /* Satır sayısını burada belirleyin */
  line-clamp: 3;
}